.hero{
  background-image: url('../assets/bg-hero.png');
  /* width: 100vw; */
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 auto;
}
